.nav-styling{
    font-size: 1.7rem;
    font-weight: 300;
}
.nav-bottom-styling{
    background-color: #ffffff;
}
.custom-card{
    border: none;
    border-radius: 0;
}
.active{
    border-bottom: solid #000000 5px;
    max-width: 15vw;
    color: #000000;
}
.nav-link{
    color: #000000;
}
.about-card{
    padding: 2vw;
    line-height: 2rem;
}
.work-card{
    max-width: 12rem;
    min-height: 12rem;
    margin: 1.5rem;
    display: flex;
    justify-items: center;
    align-items: center;
    z-index: 10;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
}
.work-card div{
    display: flex;
    align-items: center;
}
.work-card div a{
    color: #000000;
}
.work-1st-item:hover{
    animation-name: work-1st;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    transition: ease-in-out;
    -webkit-transition: ease-in-out;
}
.work-2nd-item:hover{
    animation-name: work-2nd;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    transition: ease-in-out;
    -webkit-transition: ease-in-out;
}
.work-3rd-item:hover{
    animation-name: work-3rd;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    transition: ease-in-out;
    -webkit-transition: ease-in-out;
}
.work-4th-item:hover{
    animation-name: work-4th;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    transition: ease-in-out;
    -webkit-transition: ease-in-out;
}
/*Animations*/
@keyframes work-1st {
    0% {right: 0; bottom: 0; box-shadow: none}
    100% {right:1rem; bottom: 1rem; box-shadow: 1rem 1rem #000000}
}
@keyframes work-2nd {
    0% {left: 0; bottom: 0; box-shadow: none;}
    100% {left:1rem; bottom: 1rem; box-shadow: -1rem 1rem #000000;}
}
@keyframes work-3rd {
    0% {right: 0; top: 0; box-shadow: none;}
    100% {right:1rem; top: 1rem; box-shadow: 1rem -1rem #000000;}
}
@keyframes work-4th {
    0% {left: 0; top: 0; box-shadow: none;}
    100% {left:1rem; top: 1rem; box-shadow: -1rem -1rem #000000;}
}
/*WEBKITS*/
@-webkit-keyframes work-1st {
    0% {right: 0; bottom: 0; box-shadow: none}
    100% {right:1rem; bottom: 1rem; box-shadow: 1rem 1rem #000000}
}
@-webkit-keyframes work-2nd {
    0% {left: 0; bottom: 0; box-shadow: none;}
    100% {left:1rem; bottom: 1rem; box-shadow: -1rem 1rem #000000;}
}
@-webkit-keyframes work-3rd {
    0% {right: 0; top: 0; box-shadow: none;}
    100% {right:1rem; top: 1rem; box-shadow: 1rem -1rem #000000;}
}
@-webkit-keyframes work-4th {
    0% {left: 0; top: 0; box-shadow: none;}
    100% {left:1rem; top: 1rem; box-shadow: -1rem -1rem #000000;}
}